*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  color: #555;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #555;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 0;
  background-color: currentColor;
  border: 0;
}

abbr[title],
abbr[data-bs-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

pre {
  margin: 0;
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

img,
svg {
  vertical-align: middle;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button::-webkit-input-placeholder,
input::-webkit-input-placeholder,
optgroup::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #979797;
}
button::-moz-placeholder,
input::-moz-placeholder,
optgroup::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #979797;
}
button::-moz-placeholder,
input::-moz-placeholder,
optgroup::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #979797;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button,
select {
  text-transform: none;
}
button:focus,
select:focus {
  outline: 0;
}

[role=button],
button {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
input {
  overflow: visible;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: normal;
  max-width: 100%;
  display: table;
  color: inherit;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

iframe {
  border: 0;
}

[hidden] {
  display: none;
}

.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 12px;
}

.l-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1296px;
  margin: 0 -12px 4.5rem -12px;
}
.l-card__item {
  width: 50%;
  padding: 0 12px;
  margin-bottom: 5rem;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.c-card__kv {
  height: 100%;
  max-height: 400px;
  border: 1px solid #f1f1f1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.c-card__kv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card__content {
  padding: 1rem;
  padding-bottom: 0;
}
.c-card__description {
  color: #919191;
  line-height: 1.5rem;
}
.c-card__title {
  margin-bottom: 0.5rem;
  color: #3b3b3b;
  font-size: 1.75rem;
  font-weight: 700;
}

.l-chip {
  width: 100%;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-chip__item + .l-chip__item {
  margin-left: 1rem;
}

.c-chip {
  padding: 4px 12px;
  border-radius: 1rem;
  background-color: #f1f1f1;
  color: #3b3b3b;
  line-height: 1.5rem;
  font-weight: 400;
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-pagination__item {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
}
.c-pagination__item.is-active {
  color: #f1f1f1;
  border-radius: 4px;
  background-color: #3b3b3b;
}
.c-pagination__item.is-active:hover {
  background-color: #3b3b3b;
}
.c-pagination__item:hover {
  background-color: #f1f1f1;
}
.c-pagination__item + .c-pagination__item {
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .l-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
    margin: 0 0 3rem 0;
  }
  .l-card__item {
    width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }
  .c-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-card__kv {
    max-height: 224px;
  }
  .c-card__title {
    font-size: 1.25rem;
  }
  .l-chip {
    margin-top: 1rem;
  }
  .l-chip__item + .l-chip__item {
    margin-left: 0.5rem;
  }
}