.l-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
        // width: calc(50% - 24px);
        width: 50%;
        margin-bottom: 80px;
    }
}


.card {
    display: flex;
    flex-direction: column;

    &_img{
        height: 100%;
        max-height: 400px;
        border: 1px solid #f1f1f1;
        border-radius: 0.5rem;
        overflow: hidden;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content {
        padding: 1rem;
        padding-bottom: 0;
    }

    &_title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}


.l-chip {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;

    &-item {
        &+& {
            margin-left: 0.5rem;
        }
    }
}

.chip {
    padding: 4px 12px;
    border-radius: 1rem;
    background-color: #f1f1f1;
}