$Primary-200: #f1f1f1;
$Primary-500: #919191;
$Primary-700: #3B3B3B;

.l-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1296px;
    margin: 0 -24px;

    &-item {
        box-sizing: border-box;
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 5rem;
    }
}


.card {
    display: flex;
    flex-direction: column;

    &_img{
        height: 100%;
        max-height: 400px;
        border: 1px solid $Primary-200;
        border-radius: 0.5rem;
        overflow: hidden;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content {
        padding: 1rem;
        padding-bottom: 0;
    }

    &_description {
        color: $Primary-500;
    }

    &_title {
        margin-bottom: 0.5rem;
        color: $Primary-700;
        font-size: 1.75rem;
        font-weight: 700;
    }
}


.l-chip {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    &-item {
        &+& {
            margin-left: 0.5rem;
        }
    }
}

.chip {
    padding: 4px 12px;
    border-radius: 1rem;
    background-color: $Primary-200;
    font-weight: 400;
    color: $Primary-700;
}