@media (max-width: 992px) {
  .l-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: none;
    margin: 0 0 3rem 0;

    &__item {
      width: 100%;
      padding: 0;
      margin-bottom: 3rem;
    }
  }

  .c-card {
    display: flex;
    flex-direction: column;

    &__kv {
      max-height: 224px;
    }

    &__title {
      font-size: 1.25rem;
    }
  }

  .l-chip {
    margin-top: 1rem;

    &__item {
      & + & {
        margin-left: 0.5rem;
      }
    }
  }
}
